
/*  universal css*/
        body{
          background-color: black
        }

        @font-face {
          font-family: 'zonji';
          src: url('./Zomzi.ttf') format('truetype');

          font-weight: normal;
          font-style: normal;
        }
/*  shapes*/
.cut-diamond {
   border-style: solid;
    border-color: transparent black transparent black;
     border-width: 0 500px 50px 50px;
      height: 0; width: 100px; position: relative; margin: 00px 0 100px 0;
       }
        .cut-diamond:after {
          content: "";
           position: absolute;
            top: 0px;
             left: -50px;
              width: 0;
               height: 0;
                border-style: solid;
                 border-color: transparent black transparent black;
                  border-width: 600px 300px 0 250px;
                }


 .trapezoid {
    border-right: 200px solid transparent;
    border-top:  100px solid black;
    border-bottom: 100px solid black;
    height: 400px;
    width: 0;

   }


/*  index page*/


        #index.sub_menu{
          border-top-left-radius: 500px;
          border-bottom-left-radius: 500px;
        }
